<h1><%= @kpt.created_at %>のふりかえり</h1>

<div class="row">
  <div class="span6">
    <h2>Keep</h2>
    <%= @kpt.keep %>
    <h2>Problem</h2>
    <%= @kpt.problem %>
  </div>

  <div class="span6">
    <h2>Try</h2>
    <%= @kpt.try %>
  </div>
</div>